<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="SpaceWarp" value="https://nuget.spacewarp.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="SpaceWarp">
      <package pattern="UnityEngine.Modules" />
      <package pattern="KerbalSpaceProgram2.GameLibs" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Newtonsoft.Json" />
	  <package pattern="HarmonyX" />
	  <package pattern="*" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="BepInEx.*" />
      <package pattern="Unity.InputSystem" />
    </packageSource>
  </packageSourceMapping>
</configuration>
